<div class="footer" id="footer">
    <div class="diviser">
        <div class="diviser-row">
            <p-divider></p-divider>
        </div>
        <div class="first">
            <img class="logo" alt="logo" src="assets/icons/myschool-logo.png" />
            <div class="contact">
                <span class="info"> <i class="pi pi-map-marker"></i> <span>Yaounde Emana pont</span> </span>
                <span class="info"> <i class="pi pi-envelope"></i> <span>kedericdaquin&#64;gmail.com</span> </span>
                <span class="info"> <i class="pi pi-phone"></i> <span>(237) 679 59 29 18</span> </span>
            </div>
        </div>
        <div class="options">
            <a href="#" class="msg">A propos de nous</a>
            <a href="#" class="msg">Nouvelles</a>
            <a href="#" class="msg">Relations avec les investisseurs</a>
            <a href="#" class="msg">Carrieres</a>
            <a href="#" class="msg">Dossier de presse</a>
        </div>
        <div class="socials">
            <p-button icon="pi pi-twitter" [rounded]="true" [outlined]="true" severity="info"></p-button>
            <p-button icon="pi pi-facebook" [rounded]="true" [outlined]="true" severity="primary"></p-button>
            <p-button icon="pi pi-instagram" [rounded]="true" [outlined]="true" severity="help"></p-button>
        </div>
        <div class="policys ">
            <a href="#" class="msg">Politique de confidentialite</a>
            <a href="#" class="msg">Conditions d'utilisation</a>
        </div>
        <div class="copirigth-row">
            <p-divider align="left" styleClass="row"><span class="p-tag">&#169; 2024 by KED </span></p-divider>
        </div>
    </div>
</div>
